In [2]:
import pandas as pd
import json
import ast
import collections
import re
import pprint
import csv
from tqdm import tqdm

class REMatcher(object):
    ''' This is a utility function to help out with matching regex's and
        grabbing the matches out in a way that is similar to how perl
        does it.
    '''
    def __init__(self, matchstring):
        self.matchstring = matchstring

    def match(self, regexp):
        self.rematch = re.match(regexp, self.matchstring,
                                re.IGNORECASE | re.MULTILINE | re.DOTALL)
        return bool(self.rematch)

    def group(self, i):
        return self.rematch.group(i)

In [4]:
file = "Resources/movies_metadata.csv"
df = pd.read_csv(file)
pd.set_option('display.max_columns', None)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [16]:
# Subroutine that does the following things:
# Grabs the JSON text from the column key spcified and returns an Object
# Assumes there is a list of objects and iterates over them
# Grab the data for the key and append it to a local list
# Once we are done iterating over the object, replace the element that
# we started with with a colon seperated list on the key words
def getJSONDictElements(df, colKey, dictKey, seperator, totalDict):
    with tqdm(total=df.shape[0]) as pbar:
        for index, row in df.iterrows():
            pbar.update(1)
            json_string = row[colKey]
            if not isinstance(json_string, str):
                # skip lines that aren't strings
                continue
            obj = ast.literal_eval(json_string)
            elementList = []
            for item in obj:
                # pprint.pprint(item)
                if isinstance(item, dict):
                    if len(item[dictKey]) > 0:
                        elementList.append(item[dictKey])
                        if item[dictKey] not in totalDict:
                            totalDict[item[dictKey]] = 1
                        else:
                            totalDict[item[dictKey]] += 1
            df.at[index, colKey] = seperator.join(elementList)

In [14]:
file = "Resources/genre_list.csv"
total_genres = {}
getJSONDictElements(df, "genres", "name", ":", total_genres)
with open(file, 'w', newline='') as csvFile:
    csvwriter = csv.writer(csvFile)
    for key in sorted(total_genres.keys()):
        if total_genres[key] < 5:
            # skip the production company names
            continue
        csvwriter.writerow([key, total_genres[key]])

df.head()

SyntaxError: invalid syntax (<ipython-input-14-40f2dbfe955a>, line 7)

In [17]:
total_prod_country = {}
getJSONDictElements(df, "production_countries", "iso_3166_1", ":", total_prod_country)
df.head()

 43%|████▎     | 19730/45466 [00:01<00:01, 13883.40it/s]

TypeError: argument of type 'float' is not iterable